# Virtual environments
venv/
.venv/
.env/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# trained models
models/